
BuscasComHeuristica/busca-gulosa-melhor-escolha/build/.qmake.stash

BuscasComHeuristica/busca-gulosa-melhor-escolha/build/busca-gulosa-melhor-escolha

BuscasComHeuristica/busca-gulosa-melhor-escolha/build/busca-gulosa-melhor-escolha.debug

BuscasComHeuristica/busca-gulosa-melhor-escolha/build/city.o

BuscasComHeuristica/busca-gulosa-melhor-escolha/build/main.o

BuscasComHeuristica/busca-gulosa-melhor-escolha/build/Makefile

BuscasComHeuristica/busca-gulosa-melhor-escolha/build/mapOfAStates.o

BuscasComHeuristica/busca-gulosa-melhor-escolha/build/transitionto.o
